
# Titanic EDA Project
This notebook performs an **Exploratory Data Analysis (EDA)** on the classic Titanic dataset.
We aim to uncover insights about passenger demographics, survival rates, and key factors influencing survival.

## Goals:
- Understand data structure and missing values
- Clean and preprocess data
- Visualize important relationships
- Derive business and analytical insights

In [39]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

sns.set(style="whitegrid")
%matplotlib inline

ModuleNotFoundError: No module named 'seaborn'


##  Data Overview
In this section, we load the Titanic dataset and examine its structure, data types, and missing values.

In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv("titanic.csv")

NameError: name 'pd' is not defined

In [3]:
df.head()

NameError: name 'df' is not defined

In [4]:
df.info()

NameError: name 'df' is not defined

In [5]:
df.describe()

NameError: name 'df' is not defined

In [6]:
df.isnull().sum()

NameError: name 'df' is not defined

In [7]:
df["Embarked"].value_counts()

NameError: name 'df' is not defined


##  Data Cleaning
Here, we handle missing values and prepare the dataset for analysis.

In [8]:
df["Embarked"].fillna(df["Embarked"].mode()[0], inplace=True)

NameError: name 'df' is not defined

In [9]:
df.isnull().sum()

NameError: name 'df' is not defined

In [10]:
df["Embarked"].value_counts()

NameError: name 'df' is not defined

In [11]:
df["Age"].fillna(df["Age"].median(),inplace=True)

NameError: name 'df' is not defined

In [12]:
df.isnull().sum()

NameError: name 'df' is not defined

In [13]:
df["Has_Cabin"] = df["Cabin"].notnull().astype(int)
df.drop(columns=["Cabin"], inplace=True)

NameError: name 'df' is not defined

In [14]:
df.isnull().sum()

NameError: name 'df' is not defined

In [15]:
sns.countplot(x="Survived" , data=df)
plt.title("Distribution of Survival")
plt.xticks([0,1] , ["Not Survived" , "Survived"])
plt.show()

df["Survived"].value_counts(normalize=True) *100

NameError: name 'sns' is not defined

In [16]:
sns.countplot(x="Pclass" , data=df)
plt.title("Passenger Class Distribution")
plt.show()

NameError: name 'sns' is not defined

In [17]:
sns.countplot(x="Sex" , data=df)
plt.title("Gender Distribution")
plt.show()

df["Sex"].value_counts(normalize=True) *100

NameError: name 'sns' is not defined

In [18]:
plt.figure(figsize=(10,6))
sns.histplot(df["Age"], kde=True , bins=30)
plt.title("Age Distribution")
plt.show()

NameError: name 'plt' is not defined

In [19]:
plt.figure(figsize=(10,6))
sns.boxplot(x="Pclass" , y="Age" , data=df)
plt.title("Age distribution per class")
plt.show()

NameError: name 'plt' is not defined

In [20]:
sns.countplot(x="SibSp" , data=df)
plt.title("Siblings\Children Aboard")
plt.show()

sns.countplot(x="Parch" , data=df)
plt.title("Parents/Childre Aboard")
plt.show()
df["SibSp"].value_counts(normalize=True)

NameError: name 'sns' is not defined

In [21]:
plt.figure(figsize=(10,6))
sns.histplot(df["Fare"] , bins=40 , kde=True)
plt.title("Fare Distribution")
plt.show()

NameError: name 'plt' is not defined

In [22]:
df["Fare"].describe()

NameError: name 'df' is not defined

In [23]:
sns.countplot(x="Embarked" , data=df)
plt.title("Port of Embarkation")
plt.show()

NameError: name 'sns' is not defined

In [24]:
sns.countplot(x="Has_Cabin" , data=df)
plt.title("Has Cabin Info")
plt.xticks([0,1] , ["No Cabin Info" , "Has Cabin Info"])
plt.show()

NameError: name 'sns' is not defined

In [25]:
df["Has_Cabin"].value_counts(normalize=True)

NameError: name 'df' is not defined

In [26]:
sns.countplot(x="Sex" , hue="Survived" , data=df)
plt.title("Survived by Gender")
plt.show()
pd.crosstab(df["Sex"] , df["Survived"] , normalize="index")

NameError: name 'sns' is not defined

In [27]:
df["AgeGroup"] = pd.cut(df["Age"] , bins=[0,10,20,30,40,50,60,70,80] , labels=["0-10","11,20","21,30","31,40","41,50","51-60","60+","70+"])
sns.countplot(x="AgeGroup",hue="Survived",data=df)
plt.title("Survivied by Age Group")
plt.show()

NameError: name 'pd' is not defined

In [28]:
plt.figure(figsize=(8,6))
sns.boxenplot(x="Survived" , y="Fare", data=df)
plt.title("Fare Distribution by Survived")
plt.xticks([0,1] , ["Not Survived" , "Survived"])
plt.show()

NameError: name 'plt' is not defined

In [29]:
sns.countplot(x="SibSp" , hue="Survived" , data=df)
plt.title("Survived by Sibilings/Spouses")
plt.show()

sns.countplot(x="Parch" , hue="Survived" , data=df)
plt.title("Survived by Parents/Children")
plt.show()

NameError: name 'sns' is not defined

In [30]:
sns.countplot(x="Embarked" , hue="Survived" , data=df)
plt.title("Survived by Embarked Port")
plt.show()

NameError: name 'sns' is not defined

In [31]:
pd.crosstab(index=df["Sex"] , columns=[df["Pclass"], df["Survived"]] , margins=True)

NameError: name 'pd' is not defined

In [32]:
pd.crosstab(index=df["Sex"] , columns=[df["Survived"] , df["Pclass"]])

NameError: name 'pd' is not defined

In [33]:
pd.crosstab(df["Pclass"] , df["Survived"] , margins=True)

NameError: name 'pd' is not defined

In [34]:
pd.crosstab(df["Pclass"] , df["Survived"] , values=df["Fare"] , aggfunc="mean")

NameError: name 'pd' is not defined

In [35]:
df["FamilySize"] = df["SibSp"] + df["Parch"] + 1

NameError: name 'df' is not defined

In [36]:
sns.countplot(x="FamilySize" , hue="Survived" ,data=df)
plt.title("Survived by Family Size")
plt.show()

NameError: name 'sns' is not defined

In [37]:
numeric_df = df.select_dtypes(include=["number"])

plt.figure(figsize=(10,8))
sns.heatmap(numeric_df.corr() , annot=True , cmap="coolwarm" , fmt=".2f")
plt.title("Correlation Heatmap")
plt.show()

NameError: name 'df' is not defined


## Conclusions
- **Gender & Survival:** Women had significantly higher survival rates.
- **Pclass:** Higher class passengers had better chances of survival.
- **Embarked:** Passengers from port 'C' had higher survival proportions.
- **Fare & Age:** Higher fare passengers tended to survive more; younger passengers had slightly higher survival.
- **Family Size:** Small family sizes fared better than individuals or large families.

This analysis provides a foundation for predictive modeling and further studies.